extends layout

block content


    div.row.fixed-center
        div.row
          div.columns.large-12
            div.columns.large-6.buttondiv
                a(href="create"): button.menubutton.success.fullWidth(type="button") Register
            div.columns.large-6.buttondiv
                a(href="login"): button.menubutton.success.fullWidth(type="button") Login
        div.row
            div.columns.large-12
                div.columns.large-6.buttondiv
                    a(href="createvote"): button.menubutton.success.fullWidth(type="button") Cast Vote
                div.columns.large-6.buttondiv
                    a(href="displayvote"): button.menubutton.success.fullWidth(type="button") View vote
