extends layout

block content


    div.row.fixed-center
        div.row
          div.columns.large-12
            div.columns.large-6.buttondiv
                a(href="/blockbusters/create"): button.menubutton.success.fullWidth(type="button") Register
            div.columns.large-6.buttondiv
                a(href="/blockbusters/login"): button.menubutton.success.fullWidth(type="button") Login
        div.row
            div.columns.large-12
                div.columns.large-6.buttondiv
                    a(href="/blockbusters/createvote"): button.menubutton.success.fullWidth(type="button") Cast Vote
                div.columns.large-6.buttondiv
                    a(href="/blockbusters/displayvote"): button.menubutton.success.fullWidth(type="button") View vote
