extends layout

block content

  h1 Sign In

  form(name = "login", action = "/blockbusters/login", method = "post")
    | User ID
    input(type="text", name="userid", id="userid")
    br
    | Private key
    input(type="text", name="privatekey", id="privatekey")
    br
    | Passphrase
    input(type="text", name="passphrase", id="passphrase")
    br
    input(type="submit", value="Login")