extends layout

block content

  h1 Your vote

    div.row.fixed-horizontal-center
      div.columns.large-12
                div.columns.large-6.rightAlign
                    h3 In July 2017 you voted for:
                div.columns.large-4.large-pull-2.leftAlign
                    h3 #{info}
